import styles from './styles.module.scss'

export type {{pascalCase name}}Props = {

}

const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => (
  <section className={styles.section}><h1>{{pascalCase name}}</h1></section>
)

export default {{pascalCase name}}
